html {
    height: 100%;
}

body {
    padding: 0%;
    margin: auto;
    background-color: skyblue;
    text-align: center;
}

h1 {
    color: white;
    text-shadow: rgb(0, 0, 0) 3px 3px 2px;
}

#calculadora {
    height: 420px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

#calculadora form {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

#calculadora input[type=textfield] {
    width: 100%;
}